aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
aiovk==4.0.0
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
idna==2.10
multidict==5.1.0
PyMySQL==1.0.2
pyTelegramBotAPI==3.7.6
python-dotenv==0.17.0
python-socks==1.2.4
requests==2.25.1
six==1.15.0
syncer==1.3.0
typing-extensions==3.7.4.3
urllib3==1.26.4
vk-api==11.9.1
yarl==1.6.3
